@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Set Inter as the default for your project */
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}